
@font-face {
    font-family: 'ornitons-serialbold';
    src: url('../fonts/ornitons-serial-bold-webfont.eot');
    src: url('../fonts/ornitons-serial-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ornitons-serial-bold-webfont.woff2') format('woff2'),
         url('../fonts/ornitons-serial-bold-webfont.woff') format('woff'),
         url('../fonts/ornitons-serial-bold-webfont.ttf') format('truetype'),
         url('../fonts/ornitons-serial-bold-webfont.svg#ornitons-serialbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ornitons-serial-extraboldRg';
    src: url('../fonts/ornitons-serial-extrabold-regular-webfont.eot');
    src: url('../fonts/ornitons-serial-extrabold-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ornitons-serial-extrabold-regular-webfont.woff2') format('woff2'),
         url('../fonts/ornitons-serial-extrabold-regular-webfont.woff') format('woff'),
         url('../fonts/ornitons-serial-extrabold-regular-webfont.ttf') format('truetype'),
         url('../fonts/ornitons-serial-extrabold-regular-webfont.svg#ornitons-serial-extraboldRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ornitons-serial-extralightRg';
    src: url('../fonts/ornitons-serial-extralight-regular-webfont.eot');
    src: url('../fonts/ornitons-serial-extralight-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ornitons-serial-extralight-regular-webfont.woff2') format('woff2'),
         url('../fonts/ornitons-serial-extralight-regular-webfont.woff') format('woff'),
         url('../fonts/ornitons-serial-extralight-regular-webfont.ttf') format('truetype'),
         url('../fonts/ornitons-serial-extralight-regular-webfont.svg#ornitons-serial-extralightRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ornitons-serial-heavyregular';
    src: url('../fonts/ornitons-serial-heavy-regular-webfont.eot');
    src: url('../fonts/ornitons-serial-heavy-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ornitons-serial-heavy-regular-webfont.woff2') format('woff2'),
         url('../fonts/ornitons-serial-heavy-regular-webfont.woff') format('woff'),
         url('../fonts/ornitons-serial-heavy-regular-webfont.ttf') format('truetype'),
         url('../fonts/ornitons-serial-heavy-regular-webfont.svg#ornitons-serial-heavyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ornitons-serial-heavy_dbRg';
    src: url('../fonts/ornitons-serial-heavy-regulardb-webfont.eot');
    src: url('../fonts/ornitons-serial-heavy-regulardb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ornitons-serial-heavy-regulardb-webfont.woff2') format('woff2'),
         url('../fonts/ornitons-serial-heavy-regulardb-webfont.woff') format('woff'),
         url('../fonts/ornitons-serial-heavy-regulardb-webfont.ttf') format('truetype'),
         url('../fonts/ornitons-serial-heavy-regulardb-webfont.svg#ornitons-serial-heavy_dbRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ornitons-serial-lightregular';
    src: url('../fonts/ornitons-serial-light-regular-webfont.eot');
    src: url('../fonts/ornitons-serial-light-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ornitons-serial-light-regular-webfont.woff2') format('woff2'),
         url('../fonts/ornitons-serial-light-regular-webfont.woff') format('woff'),
         url('../fonts/ornitons-serial-light-regular-webfont.ttf') format('truetype'),
         url('../fonts/ornitons-serial-light-regular-webfont.svg#ornitons-serial-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ornitons-serial-mediumregular';
    src: url('../fonts/ornitons-serial-medium-regular-webfont.eot');
    src: url('../fonts/ornitons-serial-medium-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ornitons-serial-medium-regular-webfont.woff2') format('woff2'),
         url('../fonts/ornitons-serial-medium-regular-webfont.woff') format('woff'),
         url('../fonts/ornitons-serial-medium-regular-webfont.ttf') format('truetype'),
         url('../fonts/ornitons-serial-medium-regular-webfont.svg#ornitons-serial-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}