	{% block footer %}
		<footer class="flexibel">
			<div class="max-container">
				<div class="logo">
					<img src="{{ paths.theme }}/images/logo-abm-wit-v1.png">
				</div>
				<div class="adres">
					<p>
						ABM bvba<br/>
						Nadine Crappéstraat 1/002<br/>
						9000 Gent<br/>
						BTW BE 0883.092.255<br/>
						
					</p>
				</div>
				<div class="contactpersoon">
					<p>
						Telefoon: 09/235.49.80<br/>
						Fax: 09/234.21.73<br/>
						<a href="info@abmadvies.be">info@abmadvies.be</a>
					</p>
				</div>
				
			</div>
		</footer>
	{% endblock %}
</body>
	
</html>

