{% extends 'basepage.twig' %}

{% block body %}
	<div class="content homepage max-container">
		<div class="abm-info-container">
			<div class="abm-info">
				<b>ABM</b> is een studie- en adviesbureau dat <b>sinds 1972</b> in opdracht van KMO's, overheden, projectonwikkelaars, organisaties en federaties actief is op het vlak van :
			</div>
		</div>
		{% include '_dienstenhome.twig' %}
		<p class="contacteerons">
			<a href="/contact">Contacteer ons vrijblijvend voor meer informatie of een verkennend gesprek</a>
		</p>
	</div>
{% endblock %}